.search-field {
  max-width: 25rem;
}

.clash-data-table {
  max-height: 40rem;
  overflow-y: auto;
}

.drag-handle {
  cursor: move;
}

.dragging-item {
  opacity: 0.5;
  background-color: rgb(var(--v-theme-grey-200));
}

.drop-over {
  background-color: rgba(var(--v-theme-primary), 0.1) !important;
}